# Trigger MANET ethernet role detection on carrier changes.
SUBSYSTEM=="net", KERNEL=="end0", ACTION=="change", RUN+="/bin/systemctl start ethernet-autodetect.service"
